/home/semanticnuc/Desktop/TiagoSara/Tiagonew/tiago_project/src/perception_module/utils/l2_decoder.onnx
/home/semanticnuc/Desktop/TiagoSara/Tiagonew/tiago_project/src/perception_module/utils/l2_encoder.onnx
*.onnx