<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="namespace" default="/"/>
  <arg name="public_sim" default="true"/>

  <arg name="robot" default="titanium"/>
  <arg name="arm" default="$(eval {'iron': False}.get(arg('robot'), True))"/>
  <arg name="end_effector" default="pal-gripper"/>
  <arg name="ft_sensor" default="$(eval {'titanium': 'schunk-ft'}.get(arg('robot'), 'false'))"/>
  <arg name="laser_model" default="sick-571"/>
  <arg name="camera_model" default="orbbec-astra"/>
  <arg name="base_type" default="pmb2"/>

  <arg name="tuck_arm" default="false"/>
  <arg name="gzpose" default="-x 1.35 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 3.1415"/>

  <arg name="planner" default="base"/>
  <arg name="global_planner" default="global_planner"/>
  <arg name="local_planner" default="teb"/>
  <arg name="localization" default="amcl"/>
  
  <!-- Path corretto alla mappa - SENZA .yaml -->
  <arg name="map" default="/tiago_public_ws/src/manipulation_challenge/map"/>

  <arg name="rviz" default="true"/>
  <arg name="gzclient" default="true"/>
  <arg name="recording" default="false"/>
  <arg name="extra_gazebo_args" default=""/>
  <arg name="use_moveit_camera" default="false"/>
  <arg name="use_dynamic_footprint" default="true"/>
  <arg name="advanced_grasping" default="false"/>
  <arg name="rgbd_sensors" default="false"/>

  <!-- Perception and Human Tracker configuration -->
  <arg name="object_perception" default="false"/>
  <arg name="make_perception_persistent" default="true"/>
  <arg name="human_tracker" default="false"/>
  <arg name="make_human_tracker_persistent" default="false"/>
  <arg name="human_marker_lifetime" default="2.0"/>
  <arg name="human_landmark_scale" default="0.05"/>

  <arg name="sim_sufix" value="_public_sim" if="$(arg public_sim)"/>
  <arg name="sim_sufix" value="" unless="$(arg public_sim)"/>

  <env name="LC_NUMERIC" value="C" />
  <env name="PAL_HOST" value="tiago" />

  <group ns="$(arg namespace)">

    <!-- Start up your custom world -->
    <include file="$(find manipulation_challenge)/launch/manipulation_world.launch"/>

    <!-- Spawn robot in simulation -->
    <include file="$(find tiago_gazebo)/launch/tiago_spawn.launch">
      <arg name="arm" value="$(arg arm)"/>
      <arg name="end_effector" value="$(arg end_effector)"/>
      <arg name="ft_sensor" value="$(arg ft_sensor)"/>
      <arg name="laser_model" value="$(arg laser_model)"/>
      <arg name="camera_model" value="$(arg camera_model)"/>
      <arg name="gzpose" value="$(arg gzpose)"/>
      <arg name="base_type" value="$(arg base_type)"/>
    </include>

    <!-- Bring up robot -->
    <include file="$(find tiago_gazebo)/launch/simulation_tiago_bringup.launch">
      <arg name="arm" value="$(arg arm)"/>
      <arg name="end_effector" value="$(arg end_effector)"/>
      <arg name="ft_sensor" value="$(arg ft_sensor)"/>
      <arg name="laser_model" value="$(arg laser_model)"/>
      <arg name="camera_model" value="$(arg camera_model)"/>
      <arg name="public_sim" value="$(arg public_sim)"/>
      <arg name="use_moveit_camera" value="$(arg use_moveit_camera)"/>
      <arg name="use_dynamic_footprint" value="$(arg use_dynamic_footprint)"/>
      <arg name="base_type" value="$(arg base_type)"/>
      <arg name="advanced_grasping" value="$(arg advanced_grasping)" unless="$(arg public_sim)"/>
    </include>

    <!-- Navigation with localization (AMCL) -->
    <include file="$(find tiago_2dnav_gazebo)/launch/navigation.launch">
      <arg name="state" value="localization"/>
      <arg name="planner" value="$(arg planner)"/>
      <arg name="global_planner" value="$(arg global_planner)"/>
      <arg name="local_planner" value="$(arg local_planner)"/>
      <arg name="localization" value="$(arg localization)"/>
      <arg name="map" value="$(arg map)"/>
      <arg name="public_sim" value="$(arg public_sim)"/>
      <arg name="rgbd_sensors" value="$(arg rgbd_sensors)"/>
      <arg name="laser_model" value="$(arg laser_model)"/>
      <arg name="base_type" value="$(arg base_type)"/>
    </include>

    <!-- RViz -->
    <node name="rviz" pkg="rviz" type="rviz" if="$(arg rviz)"
          args="-d $(find manipulation_challenge)/rviz/rviz_config.rviz"/>

    <!-- Point cloud throttle and filter -->
    <group unless="$(arg public_sim)">
      <include file="$(find pal_pcl_points_throttle_and_filter)/launch/throttle_filtering_points.launch">
        <arg name="cloud" value="/xtion/depth_registered/points"/>
      </include>
    </group>


    <!-- Tuck arm if needed -->
    <group if="$(arg tuck_arm)">
      <node name="tuck_arm" pkg="tiago_gazebo" type="tuck_arm.py" output="screen"/>
    </group>

    <!-- Image processing -->
    <node name="image_proc" pkg="image_proc" type="image_proc" ns="xtion/rgb"/>

    <!-- Launch perception node if requested -->
    <group if="$(arg object_perception)">
      <node name="perception" pkg="manipulation_challenge" type="perception.py" output="screen">
        <param name="make_persistent" value="$(arg make_perception_persistent)"/>
      </node>
    </group>

    <!-- Launch human tracker node if requested -->
    <group if="$(arg human_tracker)">
      <node name="human_tracker" pkg="manipulation_challenge" type="human_tracker.py" output="screen">
        <param name="make_persistent" value="$(arg make_human_tracker_persistent)"/>
        <param name="marker_lifetime" value="$(arg human_marker_lifetime)"/>
        <param name="landmark_scale" value="$(arg human_landmark_scale)"/>
      </node>
    </group>


  </group>

</launch>