<?xml version="1.0"?>
<model>
  <name>challenge_pincers</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your@email.com</email>
  </author>
  <description>
    Pair of pincers (pliers) STL model for manipulation challenge.
  </description>
</model>